target/
fesvr-rs/tests/*/elf-*
.vscode/
benchmarks/
*.log
*.DS_Store
riscv-benchmarks/
riscv-tests/
*.txt
embench/
build/
*.py
*.sh
*.svg
profile.json.gz
uncached_binaries/
*.riscv
*.data
*.data.old
sim/src/alt_superpage.rs

