[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "isa-data/riscv-opcodes"]
	path = isa-data/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "isa-data/riscv-isa-data"]
	path = isa-data/riscv-isa-data
	url = https://github.com/five-embeddev/riscv-isa-data
